In [1]:
item1 = "apple"
item2 = "bananas"
item3 = 'grapes'

print('At the grocery store, I bought some  {0} and {1} and {2}'.format(item1, item2, item3))

At the grocery store, I bought some  apple and bananas and grapes

In [2]:
print("Number 1 : {0}, Number 2 : {1}".format(1,2321
                                             ))

Number 1 : 1, Number 2 : 2321

In [3]:
# multiplication table printer

def multi_table(a):
    for i in range(1, 11):
        print('{0} x {1} = {2}'.format(a,i,a*i))
if __name__=='__main__':
    a = input("Enter a number")
    multi_table(float(a))

Enter a number2
2.0 x 1 = 2.0
2.0 x 2 = 4.0
2.0 x 3 = 6.0
2.0 x 4 = 8.0
2.0 x 5 = 10.0
2.0 x 6 = 12.0
2.0 x 7 = 14.0
2.0 x 8 = 16.0
2.0 x 9 = 18.0
2.0 x 10 = 20.0

In [4]:
input()

2

'2'

In [ ]:
print('{0}'.format(1.241234234))

print("{0:.2f}".format(1.2321423423525))

print("{0:.2f}".format(1))

In [ ]:
# inch to meter
#25.5 inch to meter

(25.5*2.54)/100

In [ ]:
#temp

def print_menu():
    print("1. kilometers to Miles")
    print("2. Miles to kilometers")
def km_miles():

In [ ]:
def km_miles():
    km=float(input("enter the km"))
    miles=km/1.609
    print(km, "is same as", miles,"miles")

In [ ]:
km_miles()

In [9]:
def miles_km():
    mile =float(input("Enter the mile"))
    km = mile *1.6094
    print(mile,"is same as",km,"miles")

In [10]:
miles_km()

Enter the mile2
2.0 is same as 3.2188 miles

In [14]:
#find x

# x+500-79 = 10

x=10-500+79
x

-411

In [20]:
#quadratc equation

a=1
b=2
c=1
D= (b**2 - 4*a*c)**0.5

x_1 = (-b+D) / 2*a
x_2 = (-b-D)/2*a

print(x_1)
print(x_2)

-1.0

In [24]:
def roots(a,b,c):
    D= (b**2 -4*a*c) ** 0.5
    
    x_1 = (-b+D) / 2*a
    x_2 = (-b-D)/2*a
    print("x1 : {0}".format(x_1))
    print("x2 : {0}".format(x_2))

In [ ]:
if __name__ =="__main__":
    a = float(input("type a"))
    b = float(input("type a"))
    c = float(input("type a"))